<div class="container">
  <span>It's All In The Game blog (c) 2005-16 by Jez Nicholson</span>
</div>
<%= google_analytics_universal_tag %>
<!-- Bootstrap 4 Alpha JS -->
<!-- IMPORTANT: Don't use this .js file in production. Use Bootstrap 3 until Bootstrap 4.0.0 is released. -->
<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script> 