<div class="container-fluid">
  <h1>This site</h1>
  <div class="row">
    <p>
    I built my first 'web' site in 1987 using the teletext-like character set of the BBC Micro to publish the Top 40 every Tuesday morning. I listened to the chart rundown just before school and rushed to transcribe it and be read on the computer network by first break.
    </p>
    <p>Since then I have blogged on-and-off whenever I needed to make notes.</p>
    <p>This new incarnation is a personal diary system keeping track of books I have read, events I have attended, or even spoken at. The content is written in text files and sotred in github so that I own my personal content. It is written in Markdown text and run through a customised Ruby Middleman static html generator. The resulting html is easy to host on github pages and less hackable than a Content Management System. Layout is made responsive by using Bootstrap 4. This is bleeding edge, so there may by errors.</p>
  </div>
  <h1>Jez Nicholson</h1>
  <div class="row">
    <p>I grew up with technology. Taking things apart to see how they worked. I love to design and build new products. I've designed and built the software that helped companies to earn millions of pounds. I have the fairly rare combination of technical ability and being able to see the business big picture.</p>
    <p>I am passionate about Product Management, User Experience, and human-centred ways of managing teams. I have a strong interest in Open Data and presented the Open Data Institute Friday Lunchtime Lecture. I even provide open data to the Ordnance Survey from my Open Plaques project.</p>
    <p>My hero is Richard Feynman. He made me believe that anything is possible and to believe in people. I like to build teams based on trust and motivation. It will only ultimately work if you value people over personal gain.</p>
    <p>I occasionally speak at conferences http://lanyrd.com/profile/jnicho02/past/speaking/</p>
    <p>I've worked in a variety of sectors: environmental risk assessment; online games; hospitality; e-learning; oilfield services; FMCG; direct marketing; charity; and travel.
    </p>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <img class="img-fluid img-thumbnail" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/2/000/0d9/1ff/3fb048e.jpg" width="100%">
    </div>
    <div class="col-xs-6">
      <img class="img-fluid img-thumbnail" src="https://farm2.staticflickr.com/1677/24793962142_4326ced3bc_z_d.jpg" width="100%">
    </div>
  </div>
</div>
