<div class="card-columns">
  <% blog.tags.sort_by { |tag, articles| articles.size }.reverse.each do |tag, articles| %>
    <div class="card" style="max-width: 40rem;">
      <div class="card-block">
        <p class="card-title"><%= link_to tag, tag_path(tag) %> <span class="label label-pill label-info pull-right"><%= articles.size %></span></p>
      </div>
    </div>
  <% end %>
</div>
